// -------------- Variáveis de cores e tamanhos -----------------------

// Tema claro
$color-bg: #ffffff;
$color-text: #000000;
$color-link-hover: #848484;
$color-active-link: #9072fc;
$color-button-bg: #9072fc;
$color-button-text: #ffffff;
$color-border: #cccccc;

//Tema escuro
$color-bg-dark: #121212;
$color-text-dark: #ffffff;
$color-link-hover-dark: #bbbbbb;
$color-active-link-dark: #6a5acd;
$color-button-bg-dark: #6a5acd;
$color-button-text-dark: #ffffff;
$color-border-dark: #444444;


$transition-speed: 0.3s;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    transition: background-color 0.5s, color 0.5s;
}

header {
    background-color: $color-bg;
    color: $color-text;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    .logo-section {
        display: flex;
        align-items: center;
        cursor: pointer;

        img {
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }

        h1 {
            font-size: 1.5rem;
            color: $color-text;
        }
    }

    .nav-section {
        ul {
            display: flex;
            align-items: center;

            li {
                margin: 0 15px;
                position: relative;

                a {
                    color: $color-text;
                    font-weight: 500;
                    font-size: 1rem;
                    transition: color $transition-speed;

                    &:hover {
                        color: $color-link-hover;
                    }

                    &.active {
                        color: $color-active-link;
                        border-bottom: 2px solid $color-active-link;
                    }
                }

                &::after {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 2px;
                    background-color: $color-active-link;
                    bottom: 0;
                    left: 0;
                    transition: width $transition-speed;
                }

                &:hover::after {
                    width: 100%;
                }
            }
        }
    }
}

main {
    padding: 15px 20px;
    background-color: $color-bg;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;

    .title {
        font-size: 1rem;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        width: 35vh;
        color: $color-text;
        margin-bottom: 50px;
        border-bottom: $color-active-link 3px solid;
    }

    #theme-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .theme-option {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            padding: 10px;
            background-color: $color-bg;
            border: 1px solid $color-border;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
            transition: transform $transition-speed, box-shadow $transition-speed;

            &:hover {
                transform: translateY(-5px);
                box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
            }

            .img-theme {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                color: $color-text;
                font-weight: 500;
                font-size: 1rem;

                img {
                    width: 220px;
                    border-radius: 10px;
                }

                span {
                    margin: 10px;
                }
            }

            button {
                border: none;
                padding: 10px 20px;
                border-radius: 5px;
                color: $color-button-text;
                font-weight: bold;
                cursor: pointer;
                background-color: $color-button-bg;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

                &:hover {
                    transform: translateY(-5px);
                    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
}

footer {
    background-color: $color-bg;
    color: $color-text;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
